<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059604422244-p78s0f7aljkjibq3hm155l8f3383mvfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059604422244-p78s0f7aljkjibq3hm155l8f3383mvfj</string>
	<key>API_KEY</key>
	<string>AIzaSyDz8ZlkOO6UhlL6s4-DJPByEAxoGrL4frQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1059604422244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lehoanganh.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>swiftui-firebase-chat-lbta</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-firebase-chat-lbta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059604422244:ios:6fc2c208de2ba884788971</string>
</dict>
</plist>